******************************************************************************************************
*                                                                                                    *
* DRILL TAPE SUMMARY REPORT                                                                          *
*                                                                                                    *
* C:\USERS\CHITA\ONEDRIVE\DESKTOP\NEW FOLDER\VANCA RAFAEL MARIAN\VANCA_RAFAEL_MARIAN\LABORATOR1.MAX  *
* Fri May 27 19:35:31 2022                                                                           *
*                                                                                                    *
******************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       16       200      100                                                                                 
T2       31       24       200      100                                                                                 
T3       34       30       200      100                                                                                 
T4       39       36       200      100                                                                                 
